<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006367170557-asp42qam8bf51r89h7e9dbr6uqcoofgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006367170557-asp42qam8bf51r89h7e9dbr6uqcoofgt</string>
	<key>API_KEY</key>
	<string>AIzaSyCrRRH5qKAsZLRajfy39Jli7W19w_Fls4M</string>
	<key>GCM_SENDER_ID</key>
	<string>1006367170557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mkt1997.Todo</string>
	<key>PROJECT_ID</key>
	<string>todo-9432c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-9432c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006367170557:ios:02bd2bc4b8c59abe6f8394</string>
</dict>
</plist>